p, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
}

hr {
  margin: 0;
  border-color: #ddd;
}
.container,
.container-fluid {
  /* max-width: 131.5rem; */
  width: 100%;
  padding: 0 1rem 0 1rem;
  margin-right: auto;
  margin-left: auto;
}

header {
  color: #fff;
  /*  */
}

.first-nav {
  background-color: #f72210;
  padding: 2rem 1rem 1.5rem;
}

.h-weather {
  font: 1.5rem 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.h-date {
  font: 1.5rem 'Roboto Condensed', sans-serif;
}

.fa-chevron-right {
  font-size: 1.5rem;
}

header .brand svg {
  fill: #fff;
}

.first-nav a {
  color: #fff;
}

.first-nav a:hover {
  color: #fff;
  text-decoration: none;
}

.first-nav .h-sub a,
.first-nav .h-sub i{
  color: #f72210;
}

.h-sub  {
  padding: .3rem 1rem .3rem 1.2rem;
}

.second-nav {
  padding: 1.5rem 1rem 1.5rem 0;
  width: 100%;
}

nav .nav-item a,
nav span.nav-item {
  color: #000;
  font: 1.9rem 'Roboto Condensed', sans-serif;
}

.nav-top {
  border-bottom-width: .2rem;
  border-bottom-style: solid;
  border-bottom-color: #f4f5f6;
  z-index: 1;
}

.nav-item {
  padding: 0;
}

.second-nav .nav-item a {
  border-right: 1px solid #888;
  padding-right: 1.5rem;
  padding-left: 1.2rem;
  font-weight: 700;
}

.nav-item a:hover {
  color: #f72210;
  text-decoration: none;
}

.ul-right {
  padding-right: 7rem;
}

.h-si a,
.h-sub {
  font: 1.8rem 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.h-si a:hover {
  color: #fff;
  text-decoration: none;
}

.h-sub a:hover {
  text-decoration: none;
}

.h-bottom {
  top: 0;
  right: 0;
  /* left: auto; */
  width: 8rem;
  background-color: #f72210;
  border-left: 13px solid white;
  border-top: 12px solid #f72210;
}

.block-title {
  font: bold 1.7rem "Roboto Condensed",sans-serif;  
  color: rgba(3,3,3,0.4);
  margin: 0 0 1.1rem;
}

.category a {
  display: block;
  font: bold 1.7rem "Roboto Condensed",sans-serif;
  color: #f72210;
  text-transform: uppercase;
  padding: .8rem 1.5rem .9rem;
  background-color: rgba(255,255,255,.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.sponsored .category a{
  color: #3581f4;
}

.sp-detail {
  padding: 2rem;
  border: .1rem solid #e6e6e6;
}

.category a {
  color: #f72210;
}

.category a:hover {
  text-decoration: none;
}

.left-side {
  padding-bottom: 2rem;
}

.middle-image img,
.left-side img,
.middle img,
.sponsored img {
  width: 100%;
  height: 100%;
}

.left-side h3,
.middle h3,
.sponsored h3 {
  font-size: 2.4rem;
  color: #000;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}

.left-side h3 {
  margin-bottom: 1rem;
  margin-top: .6rem;
}

.left-side .info:hover,
.middle .info:hover,
.sponsored .info:hover {
  text-decoration-color: #f72210;
  /* color: #f72210; */
}

.left-side p,
.middle p,
.sponsored p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.heroes-image div > a,
.culture-image div > a {
  background-color: #c2d4d7;
  color: #272727;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  font-size: 1.3rem;
  bottom: 0;
  left: 0;
}

.heroes-image div > a:hover,
.culture-image div > a:hover {
  text-decoration: none;
  background-color: #272727;
  color: #c2d4d7;
}

.heroes-title,
.culture-title {
  
  color: #272727;
}

.heroes-title p,
.culture-title p {
  font-size: 2rem;
  font-family: 'Lora', serif;
}
.heroes-title:hover,
.culture-title:hover {
  text-decoration: none;
  color: #272727;
}

.heroes-summary,
.culture-summary {
  color: rgba(184, 154, 154, 0.5);
}

.more-stories {
  padding-top: 14px;
  padding-bottom: 14px;
}

.latest-news .row{
  padding: 1rem 0;
}

.latest-news .first {
  padding-top: 0;
}

.latest-news .last {
  padding-bottom: 4rem;
}

.sponsored {
  margin-bottom: 3rem;
}

/* .story-image {
  padding-right: 0;
} */

.story-info,
.op-details,
.news-info {
  padding-left: 0;
}

.more-stories img {
  width: 9.5rem;
  height: 9.5rem;
}

.story-title,
.news-title {
  font: bold 1.7rem "Roboto Condensed",sans-serif;
  color: #000;
  margin-bottom: 1rem;
}

.story-title:hover {
  color: #000;
  text-decoration-color: #f72210;
}

.news-title:hover {
  color: #f72210;
  text-decoration: none;
}

.opinion {
  margin: 1rem 0;
}

.op-title {
  color: #000;
  font: bold 1.7rem "Roboto Condensed", sans-serif;
}

.op-title:hover {
  color: #f72210;
  text-decoration: none;
}

.op-author {
  color: #555;
  font: bold 1.4rem "Roboto Condensed", sans-serif; 
}

.icon-n {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.sign-up {
  max-width: 30rem;
  margin: 0 auto 3rem;
  border: .1rempx solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 2rem;
}

.sign-up a:first-of-type {
  display: inline-block;
  padding: 1rem 1rem 1rem 1.2rem;
  color: white;
  font: bold 1.8rem/1.8rem "Roboto Condensed",sans-serif;
  margin-bottom: 1.5rem;
  background-color: #635363;
  text-decoration: none;
}

.pref {
  color: #333;
  font: bold 1.5rem/1.5rem "Roboto Condensed",sans-serif;
  display: block;
}

.pref:hover {
  color: #333;
  text-decoration: none;
}

.line1 {
  font: bold 1.9rem/1.9rem "Roboto Condensed",sans-serif;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.mag-header {
  font: bold 19px/19px "Roboto Condensed",sans-serif;
  margin-bottom: 15px;
}


@media screen and (min-width: 768px) {
    .magazine .mag-header {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 8px;
  }
}