html {
  font-size: 62.5%;
}

.container,
.container-fluid {
  max-width: 131rem;
}

header {
  background-color: #f72210;
  color: #fff;
  padding: 2rem 1rem 1.5rem;
}

.h-weather {
  font: 1.5rem 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.h-date {
  font: 1.5rem 'Roboto Condensed', sans-serif;
}

.fa-chevron-right {
  font-size: 1.5rem;
}

header .brand svg {
  fill: #fff;
}

header a {
  color: #fff;
}

header .i-col3 {
  display: flex;
}

header .i-col3 > div {
  align-items: flex-end;
  justify-content: end;
}

header .h-sub a,
header .h-sub i{
  color: #f72210;
}



